h1,
h2,
h3 { /*Denne stylingen for h1,h2 og h3 er for å sette farge på, endre fonten og sørge for at teksten er i midten - This h1,h2 og h3 styling is to set color, change fonts and make the text centered on the page*/
  color: #F0F4EF;
  font-family: Jost, serif;
  justify-content: center;
}

img { /* Denne stylingen er for å endre på egenskapene til bileta - This styling is to change the properties of the pictures*/
  width: 250px;
  height: 250px;
  margin: 0px auto 0px auto;
}

.subjectContainer { /* Denne stylinga er for å endre på alt som har klassen .subjectcontainer - This styling is to change everything that is in the class subjectcontainer */
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
}



.button {  /* Denne koden er for å endre på klassen button - This code is to change the class button */
  background-color: #BFCC94;
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  border: 3px solid #808080;
}

.topnav {
  background-color: #F0F4EF;
  overflow: hidden;
  text-align: center;
  margin: auto;
  padding: 35px;
  width: fit-content;
  border-radius: 25px;
}

.topnav a {
  color: #0D1821;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
}

.topnav a.active {
  background-color: #BFCC94;
  color: white;
}

.topnav a:hover { /* Add this code to apply hover effect */
  background-color: #8d9671;
  color: white;
}

.kontakt { /* Denne koden er for å endre på klassen kontakt - This code is to change the class kontakt */
  color: #F0F4EF;
}

p {
  /*Denne p css stylingen er for å endre farge på avsnitta - This css styling for the p code is to set colors and change font on the paragraphs*/
  color: #F0F4EF;
  font-family: Jost, serif;
}

li { /*Denne LI stylingen er for å sette farge og endre font på lister - This LI styling is to set color and change font to lists*/
  color: #F0F4EF;
  font-family: Jost, serif;
}

body { /* Denne koden forteller body elementet ka styling den skal ha - This code tells the body element what type of styling it should have*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

footer { /* Denne koden forteller footer elementet korleis den skal sjå ut - This code tells the footer element how to look*/
  margin-top: auto;
  background-color: #00000035;
  padding: 30px;
  font-family: Jost, serif;
}

a { /* Denne koden er for linkar og bestemmer korleis dei skal sjå ut - This code is for links and tells them how to look*/
  color: #F0F4EF;
  font-family: Jost, serif;
}

button { /* Denne koden er for knappane, den brukte eg evigheitar på - This code is for the buttons, I used ages to make it so please point out problems if you see any */
  margin: auto;
  margin-bottom: 30px;
  background-color: #BFCC94;
  width: 200px;
  height: 70px;
  border: 3px solid gray;
  border-radius: 25px;
  color: #F0F4EF;
  cursor: pointer;
  font-size: large;
  font-family: Jost, serif;

}

#prosjektbilete { /* Denne koden er for å bestemme korleis elementa som har iden "prosjektbilete" skal sjå ut - This code is to choose how to the elements with the id "prosjektbilete" look*/
  width: 500px;
  height: auto;
}

#subjectcontainer2 { /* Passer på at elementa i subjectcontainer2 er i midten - Makes sure that the elements in subjectcontainer2 is in the middle*/
  justify-content: center;
  margin: 100px;

}

.subjectcontainer3 { /* Denne koden er for å bestemme korleis elementa som har klassen "subjectcontainer3" skal ligge ifrå andre element - This code decides how far it is from elements with the class "subjectcontainer3" */
  margin: 50px;

}

video { /* Denne koden er for å bestemme korleis videoen skal sjå ut - This code is to choose how the video should look*/
  border: #BFCC94 15px solid;
  border-radius: 50px;
  width: 400px;
}

body {
  background-image: url(../images/background\ image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}