h1,
h2,
h3 {
  color: #F0F4EF;
  font-family: Jost, serif;
  justify-content: center;
}

img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.subjectContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10%;
}

.button {
  background-color: #BFCC94;
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  border: 3px solid #808080;
}

.topnav {
  background-color: rgba(240, 244, 239, 0.92);
  overflow: hidden;
  text-align: center;
  padding: 35px;
  margin: auto;
  border-radius: 25px;
  margin-top: 15px;
}

.topnav a {
  color: #0D1821;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
}

.topnav a.active {
  background-color: #BFCC94;
  color: white;
}

.topnav a:hover {
  background-color: #8d9671;
  color: white;
}

.kontakt {
  color: #F0F4EF;
}

p {
  color: #F0F4EF;
  font-family: Jost, serif;
}

li {
  color: #F0F4EF;
  font-family: Jost, serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  margin: 0;
}

footer {
  margin-top: auto;
  background-color: #00000035;
  padding: 30px;
  font-family: Jost, serif;
}

a {
  color: #F0F4EF;
  font-family: Jost, serif;
}

button {
  margin: auto;
  margin-bottom: 30px;
  background-color: #BFCC94;
  width: 200px;
  height: 70px;
  border: 3px solid gray;
  border-radius: 25px;
  color: #F0F4EF;
  cursor: pointer;
  font-size: large;
  font-family: Jost, serif;
}

#prosjektbilete {
  width: 500px;
  height: auto;
}

#subjectcontainer2 {
  justify-content: center;
  margin: 100px;
}

.subjectcontainer3 {
  margin: 50px;
}

video {
  border: #BFCC94 15px solid;
  border-radius: 50px;
  width: 400px;
}

body {
  background-image: url(../images/background\ image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .topnav {
    height: 140px;
    padding: 5px;
    width: 400px;
  }
  .topnav * {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  #bokomslag img {
    justify-content: center;
    width: fit-content;
    height: 100px;
  }

  video {
    width: 300px;
  }

  #videoar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  .subjectContainer {
    display: flex;
    flex-direction: column;
  }
  main {
    width: 100vw;
  }
  #prosjektbilete {
    width: 100%;
  }
}

#bokomslag img {
  justify-content: center;
  width: fit-content;
  height: 500px;
}
